.container{
    border: 5px solid rgb(15, 15, 15);
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 500px;
    background-color: rgb(231, 134, 6);
    border-radius: 5px;

    
}
h1{
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: inset;
    border-style: ridge;
    background-color: brown;
    color: white;

}
*
{
    margin: 0;
    padding: 0;
}
input{
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    box-shadow: 3px 3px 3px rgb(5, 5, 5);

    
}
#addTaskButton{
    color:rgb(228, 228, 236);
    padding: 2px; 
    margin: 2px;
    background-color: rgb(46, 13, 236);
    font-size: 15px;
    box-shadow: 3px 3px 3px aqua;
}
li button{
    background-color: rgb(247, 5, 5);
    color: bisque;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    box-shadow: 3px 3px 3px lightgray;
    font-style: oblique;
    
}
#taskList{
font-size: 25px;
margin-left: 40px;
    
}
